node_modules
.next
build
dist
coverage

bun.lock
tsconfig.tsbuildinfo
next-env.d.ts

src/payload-types.ts
src/app/(payload)/admin/importMap.js
src/migrations/*.json

public
*.gif
*.png
*.jpg
*.jpeg
*.svg
*.webp
*.woff
*.woff2
