@font-face {
	font-family: 'Golos Text';
	src: url('/fonts/golos-text-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Golos Text';
	src: url('/fonts/golos-text-medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Golos Text';
	src: url('/fonts/golos-text-semi-bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Golos Text';
	src: url('/fonts/golos-text-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('/fonts/oswald-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('/fonts/oswald-semi-bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('/fonts/oswald-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/jet-brainsmono-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/jet-brainsmono-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

$font-sans: 'Golos Text', Arial, sans-serif;
$font-heading: 'Oswald', Arial, sans-serif;
$font-mono: 'JetBrains Mono', monospace;
