@use 'shared/styles' as *;

.section {
	display: flex;
	flex-direction: column;
	gap: $space-24;
	padding-block: $space-64;

	@include mobile {
		padding-block: $space-32;
	}
}

.rail {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: $space-20;

	@include mobile {
		display: flex;
		grid-template-columns: none;
		gap: $space-16;
		overflow-x: auto;
		scroll-snap-type: x mandatory;

		> * {
			flex: 0 0 246rem;
			scroll-snap-align: start;
		}
	}
}
